body {
  font: 1rem "Century Gothic", Futura, sans-serif;
  /*margin: 20px;*/
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .next-player {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    flex: 1 0 auto;
  }

  .board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 0 auto;

    .board {
      position: relative;
      border: 1px solid #999;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .board-content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .square {
          flex: 1 0 33%;
          background: #fff;
          border: 1px solid #999;
          float: left;
          font-weight: bold;
          line-height: 8vw;
          padding: 0;
          text-align: center;

          &.winner {
            background-color: #2dc937;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.kbd-navigation .square:focus {
  background: #ddd;
}

@media (orientation: landscape) {
  .board-container {
    width: 60%;
    .board {
      width: 50%;
      .square {
        font-size: 8vw;
      }
    }
  }
}

@media (orientation: portrait) {
  .board-container {
    width: 100%;
    .board {
      width: 80%;
      .square {
        font-size: 15vw;
      }
    }
  }
}

